body {
  color: #505050;
  font-size: 90%;
  line-height: 140%;
}

.App {
  width: 90%;
  margin: auto;
}

a, a:visited {
  color: #0065b8;
}

button {
  background: none;
    border: none;
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
    outline: 0;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
}
li button {
  flex-basis: 200px;
  text-align: left;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contentContainer form {
  grid-column-end: 3;
  grid-column-start: 1;
  text-align: center;
}

h1 {
  text-align: center;
}

#search-box {
  padding: .5em;
  font-size: 120%;
}

form input[type="submit"] {
  font-size: 120%;
    padding: .5em;
    margin-left: 1em;
}

.error {
  border: 1px solid red;
  list-style: none;
}

.hidden {
  display: none;
}

p {
  padding: .3em;
  font-size: 90%;
}

li {
  margin: .2em;
}

.highlight {
  background: #ddd;
  font-weight: 700;
}

a.play, a.play:visited {
  font-weight: bolder;
  color: green;
  text-decoration: none;
}
