/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

button {
  background: none;
    border: none;
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
}
li button {
  flex-basis: 200px;
  text-align: left;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contentContainer form {
  grid-column-end: 3;
  grid-column-start: 1;
  text-align: center;
}

h1 {
  text-align: center;
}

#search-box {
  padding: .5em;
  font-size: 120%;
}

form input[type="submit"] {
  font-size: 120%;
    padding: .5em;
    margin-left: 1em;
}

.error {
  border: 2px solid red;
}
